

body {
	font-family: Lato, Helvetica, sans-serif;
	margin: 0;
	width: 720px;
	padding: 54px;
}

h1 {
	color: red;
}

h2 {
	color: #cccccc;
}

nav ul li {
	color: #dddddd;
	display: inline-block;
	margin: 6px;

}

nav ul li a {
	color: #dddddd ;
}

ul li {
	color: red;
	display: inline-block;
}

div {
	color: #dddddd;
}

strong {
	color: red;
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
}


span {
	color: #dddddd;
}

a:hover {
	color: black;
}







footer {
	color: #dddddd;
}