/******************************************
/* SETUP
/*******************************************/
/*.box {
  background-color: #033048;
  height: 100px;
  width: 700px;
  padding-right:150px; 
  padding-left:150px;*/

    header{
        background-color: #033048;
        height: 100px;

      }

      h1{
        color: white;
        font-weight: bold;
        font-size: 40px;
        font-family: "Open Sans", Helvetica, sans-serif;
        padding-left: 40px;
        margin-top: 30px;

      }

      h2{
        color: gray;
        font-weight: thin;
        color: #606161;
        font-family: "Open Sans", Helvetica, sans-serif;
        font-size: 32px;
        margin-top: 40px;
        padding-left: 40px;

      }

      h3{
        font-size: 32px;
        font-family: "Open Sans", Helvetica, sans-serif;
        font-weight: bold;
        margin-top: 40px;

      }

      nav{
        color: #f9e42e;
        font-size: 24px;
        font-family: "Open Sans", Helvetica, sans-serif;
        text-decoration: none;
      }

      a:hover{
      background-color: orange;
    }

      
      main{
        background-color: #f0efef;
        height: 1000px;
      }
      

      aside{
        background-color: yellow;
        height: 100px;
        clear: both;
      }
      




      footer{
        background-color: black;
        height: 200px;
      }

      .container{
        width: 960px;
        margin: 0 auto;
        height: 100%;

      }

      header h1{
        float: left;
        color: white;
      }

      nav{
        float: right;
      }

      nav a{
        display: inline-block;
        padding: 4px;
        color: #f9e42e;
        font-size: 24px;
        font-family: "Open Sans", Helvetica, sans-serif;
        text-decoration: none;
        margin-top: 30px;
      }

      main article{
        float: left;
        width: 75%;
        height: 1000px;
        background-color: blue;
      }

      main aside{
        float: right;
        width: 25%;
        height: 1000px;
        background-color: orange;
        clear: none;
      }

      aside p{
        text-align: center;
      }



/*.container{
  width: 960px;
  margin: 0 auto;
}

header{
  background-color: blue;

}

header h1{
  float: left;
  color: white;
}

nav{
  float: right;
}

aside{

}



}
nav a{
 display: inline-block;
 font-size: 14px;
 color: white;
 
}

main article{
  width: 75%;
  float: left;
  height: 300px;
  background-color: gray;
}

main aside{
  float:right;
  width: 25%;
  height: 300px;
  background-color: orange;
  clear: none;
}

footer{
  background-color: black;
  height: 100px;
}*/


/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {

  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

/*body {
  color: #;
  font-size: 55px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}*/


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
/*HEY FIGURE THIS OUT LATER.container {
  width: 700px;

  margin: auto;
  background-color: #f0efef;
  padding-right:150px; 
  padding-left:150px;


}

header {
}

footer {

}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/




