/******************************************
/* SETUP
/*******************************************/
.box {
  background-color: #033048;
  height: 100px;
  width: 700px;
  padding-right:150px; 
  padding-left:150px;
}
nav a {
  margin: 4px ;
  color: #f9e42e;
  font-family: Open Sans, Helvetica, sans-serif;
  font-size: 24px;
  text-decoration: none;
 


}
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {

  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #;
  font-size: 55px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
/*HEY FIGURE THIS OUT LATER.container {
  width: 700px;

  margin: auto;
  background-color: #f0efef;
  padding-right:150px; 
  padding-left:150px;


}

header {
}

footer {

}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/




